# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\analysisCode\spring-framework-projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
